*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/** Start Customization*/
header > .header-imgs{
    width: auto;
    height: 500px;
    overflow: hidden;
    background-color:lightblue;
    position:relative;
}
header > .header-imgs div{
    text-align: left;
    color:white;
    z-index:3;
    position: absolute;
    top:100px;
    right:100px;
    width: 40%;
}

header .header-imgs div *{
    margin-bottom:30px;
}
header > .header-imgs div{
    text-align: left;
    color:white;
    z-index:3;
    position: absolute;
    top:130px;
    right:100px;
    width: 45%;
}

header h2{
    font-family: Georgia;
    font-size: 3em;
}
header p{
    font-size:1.2em;
}

header .header-imgs button{
    color:white;
}

header .btn-1{
    padding:13px;
    background-color: dodgerblue;
    border:0;
}
header .btn-1:hover{
    padding:12px;
    background-color: transparent;
    border: white 1px solid;
}

header .btn-2{
    padding:12px;
    background-color: transparent;
    border: white 1px solid;
}
header .btn-2:hover{
    background-color: dodgerblue;
    border:0;
    padding:13px;
}

.header-imgs >  img:nth-child(1){
    z-index:1;
}
.header-imgs  > img:nth-child(2){
    position:absolute;
    top:0px;
    right:0px;
    height:500px;
    width: 65%;
    opacity: .3;
    z-index: 2;
}

